.advantages {
    min-height: 590px;
    padding: 57px 10px 10px 10px;
    background-color: #f3f3f3;
    &__grid {
        margin-top: 32px;
        display: grid;
        grid-template: repeat(4, auto)/ repeat(2, auto);
        gap: 35px 60px;
    }
    &__item {
        display: flex;
        &__img {
            margin-right: 20px;
            width: 65px;
            img {
                width: 57px;
            }
        }
        &__text {
            padding-left: 5px;
        }
        &__descr {
            color: #3a3a3a;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
        }
    }
}