.footer {
    background-color: #25333c;
    min-height: 700px;
    .container {
        padding: 5px 15px;
    }
    &__map {
        position: relative;
        text-align: center;
        &__leg {
            position: absolute;
            width: 330px;
            height: 160px;
            top: 45%;
            left: 51%;
            background: url("../img/bg-map.png") center/cover no-repeat;
            z-index: 10;
        }
        &__descr {
            position: absolute;
            top: 25px;
            left: 50px;
            color: #3a3a3a;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
        }
        span {
            display: block;
            color: var(--mc);
            font-family: "Roboto - Bold";
            font-size: 16px;
            font-weight: 700;
            margin-bottom: -10px;
        }
        a {
            display: block;
            margin-top: 5px;
            color: var(--mc);
            font-size: 14px;
            font-family: "Roboto - Light";
            font-weight: 300;
        }
        &__close {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 41px;
            line-height: 21px;
            color: var(--mc);
            cursor: pointer;
            &:hover {
                box-shadow: 3px 3px 20px #dc5238;;
            }
        }
    }
    &__up {
        margin-top: 20px;
        justify-content: space-between;
        &__logo {
            width: 68px;
            height: 71px;
        }
        &__title {
            margin-top: 30px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
            margin-right: 200px;
        }
    }
    hr {
        margin: 0 auto;
        width: 1130px;
        height: 1px;
        opacity: 0.3;
        background-color: white;
    }
    &__down {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 200px 200px 200px;
        justify-content: space-between;
        opacity: 0.6;
        color: #ffffff;
        font-size: 13px;
        font-weight: 300;
        line-height: 17px;
        &__title {
            position: relative;
            &:nth-child(2) {
                color: var(--mc);
                text-decoration: underline;
            }
            &:last-child {
                text-align: center;
            }
            img {
                position: absolute;
                top: -10px;
                right: 10px;
            }
        }
    }
}
