.reviews {
    min-height: 555px;
    .container {
        padding-top: 51px;
    }
    .carousel {
        margin-top: 30px;
        padding: 10px;
    }
    &__slider {
        text-align: center;
        position: relative;
        &__item {
            padding: 55px 45px 0 45px;
            opacity: 0.2; 
            transform: scale(0.8);
        }
        .slick-next.slick-arrow {
            position: absolute;
            display: block;
            background: url("../../icons/right.png");
            width: 14px;
            height: 46px;
            top: 25%;
            right: 41%;
            &::before {
                display: none;
            }
        }
        .slick-prev.slick-arrow {
            position: absolute;
            display: block;
            background: url("../../icons/left.png");
            width: 14px;
            height: 46px;
            top: 25%;
            left: 41%;
            z-index: 2;
            &::before {
                display: none;
            }
        } 
        .slick-center {
            transition: all .3s;
            transform: scale(1.4);
            opacity: 1;
            min-width: 600px;
            height: 300px;
        }
        img {
            display: block;
            margin: 0 auto;
            border-radius: 100%;
            width: 115px;
            height: 115px;
            object-fit: cover;
        }
        &__descr {
            margin: 0 auto;
            margin-top: 10px;
            min-width: 360px;
        }
    }
}